@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.c-base-radio__radio,
.checkbox {
  display: block;
  border: 1px solid var(--color-bg-border);
  border-radius: rem(8);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    border: 1px solid var(--color-accent-one);
    outline: 0;
  }
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.legend {
  @include visuallyhidden;
}

.input {
  @include visuallyhidden();

  &:focus-visible + .checkbox {
    @include focus-outline();
  }
}

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "tick text price";
  gap: rem(24);
  align-items: center;
  margin-bottom: rem(16);
  padding: rem(16) rem(24);
}

.checkboxSelected {
  composes: checkbox;
  background-color: var(--color-secondary-lightest);
  border: 1px solid var(--color-accent-one);
}

.tick {
  grid-area: tick;
  height: rem(20);
  width: rem(20);
  background-color: var(--color-white);
  border: 1px solid var(--color-bg-border);
  border-radius: rem(4);
}

.checkboxSelected .tick {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-bg);
  border: 1px solid var(--color-secondary-bg);

  &::after {
    content: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white" viewBox="0 0 24 24"%3E%3Cpath d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/%3E%3C/svg%3E');
  }
}

.label {
  grid-area: text;
  color: var(--color-primary);
  font-size: rem(16);
}

.description {
  color: var(--color-grey);
  font-size: rem(15);
}

.price {
  grid-area: price;
  color: var(--color-accent-one);
}
