@import "mixins.scss";
@import "variables.scss";

a,
input,
textarea,
select,
button {
  &:focus {
    /* Provide a fallback style for browsers
     that don't support :focus-visible */
    @include focus-outline;
  }

  &:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
    outline: 0;
  }
}

a {
  &:focus-visible {
    @include focus-outline;
    outline-offset: rem(3);
  }
}

html {
  height: 100%;
  background-color: var(--color-bg-light);
}

body {
  display: grid;
}

#root {
  display: grid;
}
