@import "functions.scss";
@import "variables.scss";

// Mixins
@mixin min-width($breakpoint) {
  @if ($breakpoint == xsmall) {
    @media (min-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (min-width: $breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error 'UNKNOWN MEDIA BREAKPOINT #{$breakpoint}';
  }
}

@mixin focus-outline(
  $width: rem(3),
  $color: var(--color-accent-three),
  $offset: rem(4)
) {
  outline: $width dashed $color;
  outline-offset: $offset;
}

@mixin visuallyhidden() {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

@mixin visuallyhidden-reset() {
  position: unset;
  height: unset;
  width: unset;
  overflow: unset;
  clip: unset;
  clip-path: unset;
  white-space: unset;
}

@mixin baseTransition() {
  transition: all 0.2s ease-in-out;
}
