@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.app {
  --indicator-bottom-overlap: #{rem(68)};

  position: relative;
  height: auto;
  font-family: var(--font);

  @include min-width(medium) {
    place-self: center;
    width: min(rem(940), 90%);
    min-height: rem(600);
    border-radius: var(--spacer-16);
    padding: var(--spacer-16);
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--color-white);
  }
}

.stepsWrapper {
  display: grid;
  grid-template-rows: 1fr;
  padding-bottom: rem(80);

  @include min-width(medium) {
    padding: 0;
  }
}

.controllersMobileWrapper {
  position: absolute; // [overlapping elements]-> negatative margin affects it
  display: block;
  background-color: var(--color-white);
  padding: rem(16);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
