// Functions
@function rem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

// Brekpoints
$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

// Mixins
@mixin min-width($breakpoint) {
  @if ($breakpoint == xsmall) {
    @media (min-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (min-width: $breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

// Colors
html {
  --color-black: black;
  --color-white: white;
  --color-bg-light: #eff5ff;
  --color-bg-border: #d6d9e6;
  --color-secondary-light: #abbcff;
  --color-secondary-lightest: #f8f9ff;
  --color-accent-light: #bee2fd;
  --color-primary: #022959;
  --color-grey: #9699aa;
  --color-secondary-button: #928cff;
  --color-secondary-bg: #6259ff;
  --color-accent-one: #483eff;
  --color-accent-two: #ffaf7e;
  --color-accent-three: #f9818e;
  --color-error: #ee374a;

  --spacer-16: #{rem(16)};
  --spacer-48: #{rem(48)};

  --font: "Ubuntu", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
abbr {
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

// Helpers
@mixin visuallyhidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin visuallyhidden-reset() {
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  position: unset;
  white-space: unset;
  width: unset;
}

.visuallyhidden {
  @include visuallyhidden();
}

// Focus

@mixin focus-outline(
  $width: rem(3),
  $color: var(--color-accent-three),
  $offset: rem(4)
) {
  outline-offset: $offset;
  outline: $width dashed $color;
}

a,
input,
textarea,
select,
button {
  &:focus {
    /* Provide a fallback style for browsers
     that don't support :focus-visible */
    @include focus-outline;
  }

  &:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
    outline: 0;
  }
}

a {
  &:focus-visible {
    @include focus-outline;
    outline-offset: rem(3);
  }
}

html {
  background-color: var(--color-bg-light);
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  display: grid;
  min-height: 100vh;
}

.c-app {
  --indicator-bottom-overlap: #{rem(68)};

  position: relative;
  height: auto;
  font-family: var(--font);

  @include min-width(medium) {
    place-self: center;
    width: min(rem(940), 90%);
    min-height: rem(600);
    border-radius: var(--spacer-16);
    padding: var(--spacer-16);
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--color-white);
  }
}

.c-indicator {
  padding: rem(32) rem(16) calc(#{rem(32)} + var(--indicator-bottom-overlap));
  background-color: var(--color-secondary-bg);
  background-image: url("/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include min-width(medium) {
    padding: rem(40) rem(32);
    border-radius: var(--spacer-16);
    background-image: url("/images/bg-sidebar-desktop.svg");
  }
}

.c-indicator__list {
  display: flex;
  justify-content: center;

  @include min-width(medium) {
    flex-direction: column;
    justify-content: left;
  }
}

.c-indicator__list-item {
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: rem(30);
  }

  @include min-width(medium) {
    &:not(:last-child) {
      margin-bottom: rem(30);
      margin-right: 0;
    }
  }
}

.c-indicator__list-item,
.c-indicator__button {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "number";

  @include min-width(medium) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "number step" "number title";
    column-gap: rem(16);
  }
}

.c-indicator__number-box {
  grid-area: number;
  display: grid;
  justify-content: center;
  align-content: center;
  align-self: center;
  font-size: rem(14);
  color: var(--color-white);
  width: rem(33);
  height: rem(33);
  border: 1px solid var(--color-white);
  border-radius: 100px;

  .c-indicator__list-item--current & {
    color: var(--color-primary);
    background-color: var(--color-accent-light);
    border: 1px solid var(--color-accent-light);
  }

  .c-indicator__list-item--past & {
    opacity: 0.6;
    color: var(--color-primary);
    background-color: var(--color-accent-light);
    border: 1px solid var(--color-accent-light);
  }
}

.c-indicator__number {
  display: inline-block;
}

.c-indicator__step-box {
  @include visuallyhidden();
  grid-area: step;
  color: var(--color-secondary-light);
  font-size: rem(12);

  @include min-width(medium) {
    @include visuallyhidden-reset();
  }
}

.c-indicator__label {
  @include visuallyhidden();
  letter-spacing: 1px;
  grid-area: title;
  color: var(--color-white);
  font-size: rem(14);
  font-weight: var(--font-weight-bold);

  @include min-width(medium) {
    @include visuallyhidden-reset();
  }
}

.c-indicator__button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
  border: 0;
  text-align: left;
  cursor: pointer;
}

.c-step {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--color-white);
  padding: rem(32) rem(24);
  margin: rem(-73) 4.5% 0;
  border-radius: rem(8);
  @include min-width(medium) {
    padding: 0;
    margin: rem(40) 10% rem(16);
    border-radius: 0;
    background-color: transparent;
  }
}

.c-step__heading {
  color: var(--color-primary);
  font-size: rem(32);
  line-height: calc(37 / 32);
  font-weight: var(--font-weight-bold);
  margin-bottom: rem(12);
}

.c-step__description {
  color: var(--color-grey);
  font-size: rem(16);
  line-height: calc(25 / 16);
  margin-bottom: rem(32);
}

.c-form-step {
  display: grid;
  grid-template-rows: 1fr auto;
}

.c-form-step__navigation {
  display: flex;
  justify-content: space-between;
  & > *:last-child {
    margin-left: auto;
  }
}

.c-form-step__btn {
  font-size: rem(16);
  line-height: calc(18 / 16);
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}
.c-form-step__btn--link {
  background-color: var(--color-white);
  color: var(--color-grey);
}

.c-form-step__btn--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: rem(8);
  padding: rem(14) rem(24);

  &:hover {
    background-color: var(--color-secondary-button);
  }
}

.c-base-input__group,
.c-toggle-radio__group {
  margin-bottom: rem(24);
}

.c-base-input__label,
.c-base-input__error {
  display: block;
  font-size: rem(14);
  line-height: calc(16 / 14);
  margin-bottom: rem(8);
}

.c-base-input__label {
  color: var(--color-primary);
}

.c-base-input__error {
  text-align: left;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
}

.c-base-input__input {
  font-weight: var(--font-weight-medium);
  display: block;
  width: 100%;
  border: 1px solid var(--color-bg-border);
  padding: rem(12) rem(16);
  color: var(--color-primary);
  font-size: rem(16);
  line-height: calc(25 / 16);
  border-radius: rem(8);
  margin-bottom: rem(8);

  &:focus {
    outline: none;
    border: 1px solid var(--color-accent-one) !important;
  }

  &--error {
    border-color: (var(--color-error));
  }

  ::placeholder {
    color: var(--color-grey);
  }
}

.c-base-radio__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1;
  gap: rem(12);
  margin-bottom: rem(14);

  @include min-width(medium) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(18);
    margin-bottom: rem(32);
  }
}

.c-base-radio__radio,
.c-base-checkbox__checkbox {
  display: block;
  border: 1px solid var(--color-bg-border);
  border-radius: rem(8);
  cursor: pointer;

  &--selected {
    border: 1px solid var(--color-accent-one);
    background-color: var(--color-secondary-lightest);
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: 0;
    border: 1px solid var(--color-accent-one);
  }
}

.c-base-radio__radio {
  display: grid;
  gap: rem(14);
  grid-template-areas: "icon text";
  grid-template-columns: auto 1fr;
  padding: rem(20) rem(16);

  @include min-width(medium) {
    display: block;
  }
}

.c-base-radio__icon {
  grid-area: icon;
  display: block;

  @include min-width(medium) {
    margin-bottom: rem(39);
  }
}

.c-base-radio__input {
  @include visuallyhidden();

  &:focus-visible + .c-base-radio__radio {
    @include focus-outline();
  }
}

.c-base-radio__text-area {
  grid-area: text;
}

.c-base-radio__label {
  display: block;
  font-size: rem(16);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.c-base-radio__description {
  display: block;
  font-size: rem(14);
  color: var(--color-grey);
}

.c-base-radio__description-detail {
  display: block;
  color: var(--color-primary);
  font-size: rem(12);
}

// Toggle
.c-toggle-radio__group {
  border-radius: rem(8);
  background-color: var(--color-secondary-lightest);
  padding: rem(13);
  display: flex;
}

.c-toggle-radio__fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
  white-space: nowrap;

  // &:active,
  // &:hover {
  //   & label:first-of-type:before {
  //     background: yellow;
  //   }
  // }
}

.c-toggle-radio__radio {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  font-size: rem(18);
  cursor: pointer;
  color: var(--color-grey);

  &--selected {
    color: var(--color-primary);
  }
}

.c-toggle-radio__radio .c-toggle-radio__text-area {
  display: inline-block;
}

.c-toggle-radio__input {
  position: absolute;
  opacity: 0;
}

.c-toggle-radio__label {
  font-size: rem(14);
  font-weight: var(--font-weight-medium);
}

.c-toggle-radio__radio:first-of-type {
  padding-right: rem(55);
}

.c-toggle-radio__radio:last-child {
  margin-left: -#{rem(65)};
  padding-left: rem(80);
}

.c-toggle-radio__fieldset:focus-within
  .c-toggle-radio__radio:first-of-type:after
  .c-toggle-radio__text-area {
  box-shadow: 0 0 0 rem(2) white, 0 0 0 rem(4) var(--color-white);
}

.c-toggle-radio__radio:first-of-type:before,
.c-toggle-radio__radio:first-of-type:after {
  content: "";
  position: absolute;
  height: rem(20);
  overflow: hidden;
  vertical-align: middle;
  pointer-events: none;
}

.c-toggle-radio__radio:first-of-type:before {
  position: absolute;
  right: 0;
  z-index: 2;
  width: rem(20);
  background: var(--color-white);
  border-radius: 1em;
  transition: all 0.2s ease-in-out;
  transform: translateX(0) translateY(5px);
}

.c-toggle-radio__radio:first-of-type:after {
  margin: 0 rem(10);
  height: rem(30);
  width: rem(50);
  background: var(--color-primary);
  border-radius: 1em;
  transition: background 0.2s ease-in-out;
}

.c-toggle-radio__input:first-of-type:checked
  ~ .c-toggle-radio__radio:first-of-type:before {
  transform: translateX(-#{rem(20)}) translateY(5px);
}

.c-toggle-radio__input:last-of-type:checked
  ~ .c-toggle-radio__radio:last-of-type {
  z-index: 1;
}

.c-toggle-radio__radio {
  position: relative;
}

.c-base-checkbox__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.c-base-checkbox__input {
  @include visuallyhidden();

  &:focus-visible + .c-base-checkbox__checkbox {
    @include focus-outline();
  }
}

.c-base-checkbox__checkbox {
  padding: rem(16) rem(24);
  display: grid;
  grid-template-areas: "tick text price";
  grid-template-columns: auto 1fr auto;
  margin-bottom: rem(16);
  gap: rem(24);
  align-items: center;
}

.c-base-checkbox__tick {
  grid-area: tick;
  width: rem(20);
  height: rem(20);
  border: 1px solid var(--color-bg-border);
  background-color: var(--color-white);
  border-radius: rem(4);

  .c-base-checkbox__checkbox--selected & {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid var(--color-secondary-bg);
    background-color: var(--color-secondary-bg);

    &::after {
      content: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white" viewBox="0 0 24 24"%3E%3Cpath d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/%3E%3C/svg%3E');
    }
  }
}

.c-base-checkbox__label {
  grid-area: text;
  font-size: rem(16);
  color: var(--color-primary);
}

.c-base-checkbox__description {
  font-size: rem(15);
  color: var(--color-grey);
}

.c-base-checkbox__price {
  grid-area: price;
  color: var(--color-accent-one);
}

.c-order-summary__calculation {
  background-color: var(--color-secondary-lightest);
  padding: rem(16) rem(24);
  border-radius: rem(8);
}

.c-order-summary__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-order-summary__plan-label {
  display: block;
  color: var(--color-primary);
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  margin-bottom: rem(5);
}

.c-order-summary__plan-change {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: rem(14);
  color: var(--color-grey);
  text-decoration: underline;
  cursor: pointer;

  &:active,
  &:hover {
    color: var(--color-accent-one);
  }
}

.c-order-summary__plan-price {
  display: block;
  color: var(--color-primary);
  font-size: rem(16);
  font-weight: var(--font-weight-bold);
}

.c-order-summary__addons-list {
  list-style: none;
  border-top: 1px solid var(--color-bg-border);
  margin-top: rem(24);
  padding-top: rem(16);
}

.c-order-summary__addons-item {
  &:not(:last-child) {
    margin-bottom: rem(16);
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-order-summary__addons-label {
  font-size: rem(14);
  color: var(--color-grey);
}

.c-order-summary__addons-price {
  font-size: rem(14);
  color: var(--color-primary);
}

.c-order-summary__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(16) rem(24);
}

.c-order-summary__total-label {
  color: var(--color-grey);
  font-size: rem(14);
}

.c-order-summary__total-price {
  color: var(--color-accent-one);
  font-size: rem(20);
  font-weight: var(--font-weight-bold);
}

.c-step--final {
  text-align: center;
  align-self: center;
}
.c-step__image {
  display: block;
  margin: 0 auto rem(32);
}
