@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.step {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: rem(-73) 4.5% rem(16); // [overlapping elements]-> negative top margin
  padding: rem(32) rem(24);
  background-color: var(--color-white);
  border-radius: rem(8);

  @include min-width(medium) {
    margin: rem(40) 10% rem(16);
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
  @include min-width(large) {
    margin: rem(40) 10% rem(16) rem(100);
  }

  .c-app--bottom-nav & {
    margin: rem(-73) 4.5% rem(93); // [overlapping elements]-> negative top margin needs to be compensated for mobile nav with absolutely positioned nav
  }
}

.stepFinal {
  composes: step;
  align-self: center;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto rem(32);
}

.heading {
  margin-bottom: rem(12);
  color: var(--color-primary);
  font-size: rem(32);
  font-weight: var(--font-weight-bold);
  line-height: calc(37 / 32);
}

.description {
  margin-bottom: rem(32);
  color: var(--color-grey);
  font-size: rem(16);
  line-height: calc(25 / 16);
}

.stepInside {
  display: grid;
  grid-template-rows: 1fr auto;
}
