@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.formNav {
  display: flex;
  justify-content: space-between;
  & > *:last-child {
    margin-left: auto;
  }
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: calc(18 / 16);
  cursor: pointer;
}

.btnLink {
  composes: button;
  background-color: var(--color-white);
  color: var(--color-grey);
}

.btnPrimary {
  composes: button;
  padding: rem(14) rem(24);
  background-color: var(--color-primary);
  border-radius: rem(8);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-secondary-button);
  }
}
