@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.group {
  margin-bottom: rem(24);
}

.label,
.error {
  display: block;
  margin-bottom: rem(8);
  font-size: rem(14);
  line-height: calc(16 / 14);
}

.label {
  color: var(--color-primary);
}

.input {
  display: block;
  margin-bottom: rem(8);
  padding: rem(12) rem(16);
  width: 100%;
  border: 1px solid var(--color-bg-border);
  border-radius: rem(8);
  color: var(--color-primary);
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: calc(25 / 16);

  &:focus {
    border: 1px solid var(--color-accent-one) !important;
    outline: none;
  }

  ::placeholder {
    color: var(--color-grey);
  }

  html[data-whatintent="keyboard"] &:focus {
    @include focus-outline();
  }
}

.inputWithError {
  composes: input;
  border-color: (var(--color-error));
}

.errorMessage {
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: left;
}
